@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
:root {
  --primary-color: #ff9d24;
  --extra-color: #9981ff;
  --sub-text-color: #7d7474;
  --shadow-color: #e9e8f5;
  --b-r-shadow-color: rgba(69, 61, 141, 25%);
  --swiper-theme-color: #ff9d24;
  --header-height: 70px;
  --vertical-nav-width: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.common-icon {
  color: var(--primary-color);
  font-size: 25px;
}

.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrap {
  position: relative;
  display: inline-block;
}

.common-input {
  height: 42px;
  min-width: 140px;
  padding: 8px 16px;
  border: 1px solid var(--primary-color);
  border-radius: 9.8px;
  outline: none;
  font-size: 1.4rem;
}

.common-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--extra-color);
  opacity: 1; /* Firefox */
}

.extra-style-btn,
.primary-style-btn {
  --btn-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 0 8px;
  min-width: 140px;
  height: var(--btn-height);
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

.primary-style-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.extra-style-btn {
  background-color: #fff;
  color: var(--extra-color);
  border: 1px solid var(--primary-color);
}

.primary-style-btn .common-icon {
  color: inherit;
}

/* slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-card .swiper-slide {
  width: 350px !important;
}

.swiper-banner .banner__img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 9.8px;
}

.card {
  margin: 24px 0;
  overflow: hidden;
  width: 300px;
  height: 350px;
  border-radius: 9.8px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: -4px -4px 9px rgba(128, 128, 128, 0.3),
    4px 4px 9px rgba(0, 0, 0, 0.3);
}

.card__img {
  height: 200px;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  padding: 16px;
}
