.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: #fff;
  box-shadow: 0 4px 20px 0 var(--shadow-color);
  z-index: 10;
}

.header__item-wrap {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header__logo-p {
  color: var(--primary-color);
  font-size: 3.2rem;
}

.header__logo-e {
  color: var(--extra-color);
  font-size: 3.2rem;
}

.header__nav {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.header__nav-item {
  display: flex;
}

.header__nav-btn {
  margin-left: 16px;
}

/* container */
.container {
  margin-top: var(--header-height);
}

.vertical-nav {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100px;
  bottom: 0;
  list-style: none;
  background-color: #fff;
}

.vertical-nav__item {
  margin-top: 16px;
}

.vertical-nav__link:hover {
  background-color: var(--shadow-color);
  border-radius: 12px;
}

.vertical-nav__link:active {
  border: 1px solid var(--extra-color);
}

.vertical-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80px;
  margin-left: auto;
  padding: 8px 0;
  text-decoration: none;
}

.vertical-nav__desc {
  margin-top: 8px;
  color: var(--extra-color);
  font-size: 1.4rem;
}

.content {
  width: calc(100% - var(--vertical-nav-width));
  margin-left: var(--vertical-nav-width);
}

/* slider */
.content__slider {
  position: relative;
  padding: 24px;
}

/* search */

.content__search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  padding: 30px;
  background-color: rgba(204, 204, 204, 0.45);
  border-radius: 12px;
  z-index: 1;
}

.search-f {
  width: 280px;
}

.search-2inline {
  display: flex;
}

.search-2inline .search-h-input:first-child input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-2inline .search-h-input:last-child input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search__btn {
  --btn-height: 42px;
  margin-top: 24px;
  text-transform: uppercase;
}

.search__icon {
  margin-left: 8px;
}

.content__header {
}

.content__title {
  font-size: 3rem;
  color: var(--primary-color);
}

.content__desc {
  margin-top: 4px;
  font-size: 1.4rem;
  color: var(--sub-text-color);
}
